###
.DS_Store

### Xcode user data
**/xcuserdata

### SPM
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

### VKIDDemo
VKIDDemo/VKIDDemo/Configurations/VKIDAppCredentials.xcconfig

### Localhost for documentation
.tmp_server_build/