<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>vkauthorize-silent</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>auth_callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk$(CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>CLIENT_SECRET</key>
	<string>$(CLIENT_SECRET)</string>
</dict>
</plist>
